/* 
	* RESET *

http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
		GENERAL	
*/
body {
	background-color: #f8f5ed;
	font-family: Verdana, sans-serif;
	color: #000033;
}

h1 {
	font-size: 2em; 
}

h2 {
	font-size: 2.3em; 
	margin: 1em;
	text-align: center;
	/*color: #654398;*/
}

h3{
	font-size: 1.5em;
	margin: 1em;
}

p{
	text-align: justify;
	margin: 1em;
}

ul{
	margin: 1em;
}


/*
	HEADER
*/

header{
	width: 100%;
	border-style: none;
	height: 60px;
	position: absolute;
	top: 0;
	/* Gradient */
	background: #654398; /* For browsers that do not support gradients */
}


nav ul li {
	float: right;
	list-style-type: none;
}

nav ul li a {
	display: block;
	padding: .5em;
}

.nav-link {
	color: #fff;
	text-decoration: none;
}

.nav-link:hover {
	border-bottom: 1px solid #fff;
}

#active {
	/*background-color: #302047;*/
	/*text-shadow: 0 0 3px #fff;*/
	font-weight: bold;
}


#logo {
	text-align: left;
	font-size: 1.7em;
	clear: both;
	float: left;
	color: #fff;
	text-decoration: none;
}

#logo:hover {
	border: none;
	text-decoration: none;
}

/*
	INDEX PAGE
*/

.index-heading {
	text-align: left;
}

.non-nav-link {
	color: #654398;
	text-decoration: underline;
}

.non-nav-link:hover {
	color: #302047;
	background-color: rgba(0,0,0,0);
}

/*
	CONTENT/RECIPES
*/

.content {
	width: 80%;
	margin: 80px 10%;
	border: 1px solid #fff;
}

#ingredients{
	list-style-type: disc;
	margin: 1em;
	padding: 1em 2em;
}

#ingredients li {
	padding: .4em;
	margin: 0 2em;
}

figure {
	padding: 0em 3em;
}

.recipe-img {
	width: 50%;
	float: right;
}

figcaption {
	padding: .5em;
	padding-right: 0;
	display: block;
	font-size: .7em;
	float: right;
	width: 50%;
}

#meta {
	margin: .5em;
	color: #654398;
}

#instructions {
	clear: right;
}

#instruction-list {
	list-style-type: decimal;
	margin: 1em;
	padding: 1em;
}

#instruction-list li {
	padding: .4em;
	margin: 0 2em;
}

#recipe-info li{
	display: inline-block;
	padding: .5em;
	background-color: #ddd;
	margin: .1em;
}

.comment {
	background-color: #fff;
	padding: 1em;
	width:70%;
	margin: 0 3% 2%;
	border: 1px solid #ddd;
}

.username {
	font-size: 1.3em;
	text-align: left;
	padding: .5em;
	display: inline;
}

.comment-time {
	text-align: right;
	float: right;
	padding: .5em;
	display: inline;
}

.user-comment {
	text-align: justify;
	padding: 1em;
}

/*
	CALENDAR
*/

#calendar {
	width: 95%;
	background: #fff;
	margin: 2.5%;
}

#month {
	background: #654398;
	padding: 1em;
	font-size: 1.5em;
	color: #fff;
	text-align: center;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}
.week {
	list-style-type: none;
    display: inline-block;
    width: 100%;
}

.week li {
	height: 100px;
}

.week  img {
	width: 80%;
	float: left;
	margin: 5% 10%;
}
